@import "../../App-variables.css";

.photo {
  width: 300px;
  height: 350px;
  border: 1px solid rgba(233, 234, 236, 0.08);
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  background-color: var(--card-background-color);
  overflow: scroll;
  box-shadow: var(--card-box-shadow);
}

.photo :is(a, p, div) {
  background-color: var(--card-background-color);
}

.photo__title {
  font-weight: bold;
  font-size: 18px;
}

.photo__author {
  font-family: "Patrick Hand", cursive;
}

.photo__img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  position: sticky;
  top: 0;
  border-radius: 5px;
}
