@import "./App-variables.css";

* {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Ubuntu Condensed", sans-serif;
}

h1 {
  margin: 0;
}

.secondary-text {
  color: var(--secondary-font-color);
}
